@import './src/style/vatibles';


.sing-up{

  &__wrapper{
    width: 420px;
  }


  &__title-page{
    margin-top: 112px;
    font-weight: bold;
    font-size: $font-size-title;
    color: $text-color;
  }

  &__subtitle-page {
    margin-top: 15px;
    font-weight: 600;
    font-size: $font-size-text;
    color: $text-color;
  }

  &__link-to-register{
    margin-left: 9px;
    color: $border-blue;
    text-decoration: none;

  }
}