@import './src/style/vatibles';
@import './src/style/mixins';


.logo{
  &__wrapper{
    @include centreing;
  }

  &__icon{

  }


  &__name{
    font-size: 28px;
    font-weight: bold;
    color: $text-color;
  }
}

.icon {
  margin-right: 18px;
   width: 22px;
   height: 31px;
   position: relative;
  @include centreing;


  &__body{
    height: 15px;
    border-left: 3px solid black;
    &:before{
      content: '';
      position: absolute;
      top: 2px;
      left: 4px;
      display: block;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid black;
    }

    &:after{
      content: '';
      display: block;
      width: 1px;
      height: 3px;
      position: absolute;
      top: 24px;
      left: 2px;
      border-left: 11px solid black;
      transform: rotate(-45grad);
    }


  }

  &__arrow-border {
    top: 27px;
    left: 14px;
    border-left: 5px solid black;
    transform: rotate(45grad);
    width: 1px;
    height: 3px;
    position: absolute;
    display: block;
  }
}