@import './src/style/vatibles';
@import './src/style/mixins';



.slider{
  transform-style: preserve-3d;
  perspective: 2000px;
  overflow: hidden;
  width: 800px;
  margin-right: 82px;
  &-before{
    content: '';
    position: absolute;
    right: -800px;
    top: -360px;
    background-color: $border-blue;
    height: 100%;
    transform: rotate3d(545,-663,235,56deg);
    display: inline-block;
    perspective-origin: left center;
    width: 1000px;
  }

  &:after{
    content: '';
    position: absolute;
    right: 155px;
    top: 450px;
    background-color: $border-blue;
    height: 100%;
    transform: rotate3d(870,-760,92,-66deg);
    display: inline-block;
    perspective-origin: left center;
    width: 1000px;
  }


  background-color: $background-color;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  position: relative;

  &__container{
    width: 512px;
    margin-top: 118px;
    margin-bottom: 90px;
   @include centreing;
  }

  &__item{
    flex-direction: column;
    @include centreing;
  }

  &__item-img-wrapper{
    width: 512px;
    flex-direction: column;
    @include centreing;
  }

  &__item-img{
    width: 512px;
  }

  &__item-title{
    margin-top: 62px;
    font-weight: 600;
    font-size: 20px;
    color: $white-color;
  }

  &__item-text{
    margin-top: 15px;
    font-weight: 600;
    font-size: $font-size-text;
    color: $white-color;
    margin-bottom: 84px;
  }

}

.swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
}

.swiper-pagination-bullet-active{
  background: $white-color;
}